.header {

    text-align: center;
    color:rgb(30, 47, 47)

}


.table {
    border-collapse: collapse;
    border: 2px solid black;   
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.white {
    background-color: rgb(242, 219, 219);
    /* width: 50px;
    height: 50px; */

}

.black {
    background-color: rgb(65, 58, 58);
    /* width: 50px;
    height: 50px; */
}

tr{
    height: 70px;
}

td{
    width: 70px;
}
td:hover {
    background: lightgreen;
    cursor: pointer
  }

.selected{
    background-color: rgb(190, 242, 60);
}

.possible-move{
    background-color: rgba(177, 175, 47, 0.556);
    border-radius: 10px;
    
}